*/*.vcxproj

/configure/Debug
/configure/Release
/configure/configure.ilk
/configure/configure.pdb

/installer/inc/version.isx

/VisualStudioProjects/*

/utilities/ImageMagick.version.h

.vs
bin
/Debug
/lib
/Release

/aom
/bzlib
/cairo
/configure
/croco
/dcraw
/de265
/deflate
/demos
/exr
/ffi
/flif
/freetype
/fribidi
/glib
/harfbuzz
/heif
/iptcutil
/jasper
/jbig
/jpeg-turbo
/lcms
/lqr
/lzma
/openjpeg
/OpenCL
/pango
/PerlMagick
/pixman
/png
/raqm
/raw
/rsvg
/tiff
/webp
/xml
/zlib

NOTICE.txt

*.db
*.ipch
*.opendb
*.sdf
*.sln
*.suo
*.user
*.exe
*.filters
